@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,100&family=Montserrat:wght@500;700&display=swap');
// Primary

$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

// Neutral

$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%); 
$white: hsl(0, 0%, 100%);

$monserrat : 'Montserrat', sans-serif;
$fraunces :'Fraunces', serif;
.monserrat{
    font-family: $monserrat;
}
.fraunces{
    font-family: $fraunces;
}

body{
    font-size: 14px;
    font-family: $monserrat;
}

.bg-cyan{
    background-color: $dark-cyan;
}
.bg-cream{
    background-color: $cream;
}
.bg-white{
    background-color: $white;
}
.c-darkcyan{
    color: $dark-cyan;
}
.c-dark-blue{
    color: $very-dark-blue;
}
.c-grayish-blue{
    color :$dark-grayish-blue;
}
.card_radius{
    border-radius: .5em;
}
.card_radius img{
    border-radius: .5em .5em 0 0;
}
.card_perfume{
    letter-spacing: 3px;
}
.card-h{
    min-height: 700px;
}
.attribution { 
    font-size: 11px; text-align: center; 
    background-color: $cream;
}
    .attribution a { color: hsl(228, 45%, 44%); }
@media screen and (min-width: 768px){
    .card-h{
        min-height: 100vh;
    }
    .card_radius img{
        border-radius: .5em 0 0 .5em;
    }
}
